<div class="container features_page">
  <h2 class="text-center">There currently have 9 plug and play features available across 3 main categories and many more yet to come</h2>

  <h3>Catalogue features</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 1: Browsing through a catalogue</h4>
        <p>Just like on an ordinary website, your customers can make a search through keywords and browse a selection of corresponding thumbnails</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("chatbot-browsing.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 2: Navigating through a category tree</h4>
        <p>Through a serie of structured messages, your customer can easily deep dive into your assortment through the existing category indexation</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("chatbot-navigating.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 3: Checking inventory</h4>
        <p>Once a product selected, your customer can check stock availabilities in any specific store. This feature gets handy when there is no human vendor available.</p>
      </div>
      <div class="col-xs-12 col-sm-6  text-center">
      <%=image_tag("chatbot-stock-checking.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 4: Display product details</h4>
        <p>Once a product selected trough browsing, navigating or simply scanning a product messenger tag, your customer can check the product attributes and description embedded in a structured message. He or she can as well ask for any specific attributes directly.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("", class: "feature_image")%>
      </div>
    </div>

    <hr>
  <h3>Order features</h3>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 5: Order confirmation</h4>
        <p>Once the checkout completed, your customer can request to receive an order confirmation through Facebook Messenger.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("chatbot-order-confirmation.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 6: Order tracker</h4>
        <p>Your customer can also request to receive notificiations about its order delivery in Facebook Messenger. This feature offers a much more natural update than emails.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("chatbot-order-tracker.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 7: Order rescheduling</h4>
        <p>As customers are warn half a day before their delivery, they get offered the possibility to reschedule. Once this update shared with your transporter, they will save time and therefore money</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("chatbot-rescheduling.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3>Retailer features</h3>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 8: Itenary display</h4>
        <p>Your customers can have a google map itenarary to your closest store</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Feature 9: Booking</h4>
        <p>Your customer can ask for booking a reservation. This feature is available for a restaurant table but as well for a cinema ticket or simply a product at a store before picking it up.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("chatbot-booking.png", class: "feature_image")%>
      </div>
    </div>

</div>
