<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://goo.gl/3r47DN');">
  <div class="banner-content">
    <h1><%= t('title') %></h1>
    <p><%= t('tagline') %></p>
    <a href="/demo_request" class="btn btn-primary btn-lg"><%= t('demo') %></a>
  </div>
</div>




<div class="container">

  <div class="features">

    <h1 class="text-center">Conversational Commerce rethink transactions for the mobile generation</h1>

    <div class="icons">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center icon">
            <i class="fa fa-rocket"></i>
            <h2>Fully Customizable</h2>
            <p>Set up your chatbot to match 100% your brand identity</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center icon">
            <i class="fa fa-comment"></i>
            <h2>Cumulative Solution</h2>
            <p>Thanks to mutualization, our bots learn faster than others</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div  class="text-center icon">
            <i class="fa fa-users"></i>
            <h2>Human Guided Chats</h2>
            <p>All chatbots have 24/7 human moderations</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div  class="text-center icon">
            <i class="fa fa-cogs"></i>
            <h2>Plugged In Your Systems</h2>
            <p>Get the transactions directly in your order management system</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <div class="examples">


    <!--  Example 1 -->

    <h1 class="text-center">In Store Solution</h1>
    <h2 class="text-center">Outsourcing basic requests</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6">

        <div class="avatars">
          <div class="avatari text-center">
            <%=image_tag("nike-ceo.jpg", class: "avatar-large")%>
            <p style="padding-top: 5px;"><strong>Mark Parker</strong></p>
            <p>Chief Innovation Officer</p>
          </div>

          <%=image_tag("relationship.png", class: "avatar-large", style: "padding-bottom: 40px;")%>

          <div class="avatari text-center">
            <%=image_tag("nike-logo.ico", class: "avatar-large")%>
            <p><strong>Suzanne</strong></p>
            <p>Running specialist</p>
          </div>
        </div>

        <div class="set-up">
          <h3>Set up</h3>
          <p><strong>Type:</strong> Impersonate</p>
          <p><strong>Entry point:</strong> In store Messenger codes</p>
          <p><strong>Main features:</strong> Scanning, browsing, inventory checking, booking</p>
        </div>

        <div class="feedback">
          <h3>Feedback</h3>
          <em>"We always have a hard time coping with instore customer requests. We wanted to be able to outsource the basic questioning and order processing some how, so that our staff can focus on the technical questions. The fact that customers can book online and pick up their product right away is just the icing on the cake."</em>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 text-center">
        <%=image_tag("nike-chatbot-messenger-conversation-2.png", width: '350')%>
      </div>

    </div>
    <hr>




    <!--  Example 2 -->


    <h1 class="text-center">E-retailers Solution</h1>
    <h2 class="text-center">Added value services</h2>

    <div class="row">

      <div class="col-xs-12 col-sm-6 text-center">
        <%=image_tag("asos-chatbot-messenger-conversation.png", width: '350')%>
      </div>

      <div class="col-xs-12 col-sm-6">

        <div class="avatars">
          <div class="avatari text-center">
            <%=image_tag("asos-customer-service.jpg", class: "avatar-large")%>
            <p style="padding-top: 5px;"><strong>Sarah Alison</strong></p>
            <p>Happiness manager</p>
          </div>

          <%=image_tag("relationship.png", class: "avatar-large", style: "padding-bottom: 40px;")%>

          <div class="avatari text-center">
            <%=image_tag("asos-logo.png", class: "avatar-large")%>
            <p><strong>Asos</strong></p>
            <p>Order Tracker</p>
          </div>
        </div>

        <div class="set-up">
          <h3>Set up</h3>
          <p><strong>Type:</strong> Impersonate</p>
          <p><strong>Entry point:</strong> On website and emails</p>
          <p><strong>Main features:</strong> Order confirmation, order tracker, rescheduling </p>
        </div>


        <h3>Feedback</h3>
        <em>"Our customers are heavy messaging app users. Our customer service is what differentiate us from our competitors. It has been a will since we realized that emails and phoning were not the appropriate channels for tracking and rescheduling services. When we heard about My A.I. vendor solution, it was a no brainer."</em>
      </div>

    </div>
    <hr>




    <!-- Example 3 -->

    <h1 class="text-center">Reservation Solution</h1>
    <h2 class="text-center">Browsing and booking services</h2>

    <div class="row">


      <div class="col-xs-12 col-sm-6">

        <div class="avatars">
          <div class="avatari text-center">
            <%=image_tag("david-cinema.jpg", class: "avatar-large")%>
            <p style="padding-top: 5px;"><strong>David</strong></p>
            <p>Digital manager</p>
          </div>

          <%=image_tag("relationship.png", class: "avatar-large", style: "padding-bottom: 40px;")%>

          <div class="avatari text-center">
            <%=image_tag("gaumont-2.jpg", class: "avatar-large")%>
            <p><strong>Pathé Gaumont</strong></p>
            <p>Queue cutter</p>
          </div>
        </div>

        <div class="set-up">
          <h3>Set up</h3>
          <p><strong>Type:</strong> Branded</p>
          <p><strong>Entry point:</strong> Facebook Messenger browser and Messenger codes</p>
          <p><strong>Main features:</strong> Itinerary, browsing and booking </p>
        </div>


        <h3>Feedback</h3>
        <em>"Queuing was becoming a massive issue for our business. At first I was afraid of the quality of service we could get by outsourcing to a robot but it turns out My A.I. Vendor mix solution offers a safety net that we were hoping for."</em>
      </div>

      <div class="col-xs-12 col-sm-6 text-center">
        <%=image_tag("gaumont-chatbot-whatsapp-conversation-2.png", width: '350')%>
      </div>

    </div>

  </div>

  <hr>




  <div class="row comparing text-center">
    <div class="hidden-xs">
      <h1 style="padding-bottom: 40px;"><%= t('title4') %></h1>

      <div class="col-sm-4">
        <div class="rew">
          <p style="color: white; margin: 17px;">text</p>
          <p><%= t('time') %></p>
          <p><%= t('fees') %></p>
          <p><%= t('monthly') %></p>
          <p><%= t('accessibility') %></p>
          <p><%= t('users') %></p>
          <p><%= t('upgrades') %></p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="riw">
          <div class="header">
            <%= t('developing') %>
          </div>
          <p><%= t('time_app') %></p>
          <p><%= t('fees_app') %></p>
          <p><%= t('monthly_app') %></p>
          <p><%= t('accessibility_app') %></p>
          <p><%= t('users_app') %></p>
          <p><%= t('upgrades_app') %></p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="riw">
          <div class="header">
            My A.I. Vendor
          </div>
          <p><%= t('time_own') %></p>
          <p><%= t('fees_own') %></p>
          <p><%= t('monthly_own') %></p>
          <p><%= t('accessibility_own') %></p>
          <p><%= t('users_own') %></p>
          <p><%= t('upgrades_own') %></p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="newsletter" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://goo.gl/g5DRly');padding: 0;">

  <div class="banner-content text-center">
    <h1><%= t('request') %></h1>



    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

    <div id="mc_embed_signup">
      <form action="//myvendor.us13.list-manage.com/subscribe/post?u=7aff5533418a72117de612dfd&amp;id=2163607e0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter here your email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7aff5533418a72117de612dfd_2163607e0a" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
          </div>
      </form>
    </div>

    <!--End mc_embed_signup-->



<!--     <form action="#" class="form-inline">
      <input type="email" class="form-control" placeholder="Your email" style="margin: 20px; width: 70%">
      <input type="submit" value="Submit" class="btn btn-primary">
    </form> -->


  </div>

</div>

